<div class="record-container" data-key="{{id}}">
  <table class="record">
    <tr>

      <td>
        <a {{#if @root.unlocked}} onclick="window.location.href='/update?id={{id}}'" {{/if}}>
          {{surname}}</a>
      </td>

      <td>
        <a {{#if @root.unlocked}} onclick="window.location.href='/update?id={{id}}'" {{/if}}>
          {{number}}</a>
      </td>

    </tr>

    <!--<tr>

      <td>
        <button {{#if @root.unlocked}} onclick="window.location.href='/update?id={{id}}'" {{/if}}>
          <a>{{surname}} {{number}}</a>
        </button>
      </td>



    </tr>-->
  </table>
</div>